.Input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    padding: 10px 0;
}

.Input label {
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: var(--main-color);
}


.Input input{
    padding: 15px 10px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--grey);
    color: var(--dark-grey);
    outline: transparent;
    border: 2px solid var(--grey);
    transition: all .2s;
}

.Input input:focus {
    border: 2px solid var(--main-color);
}