.ButtonWhatsApp {
    width: 20rem !important;
    height: 5.5rem;
    font-size: 1.6rem;
    background-color: var(--color-button-whatsapp);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: .8rem;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s;
}

.ButtonWhatsApp:hover {
    background-color: var(--color-button-whatsapp-darker);
}

.ButtonWhatsApp svg {
    margin-right: 1rem;
    font-size: 1.6rem;
}