.ProfileMenu {
    height: 100%;
    width: 25rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.ProfileMenu div h4 {
    font-size: 1.3rem;
    color: var(--white);
}

.ProfileMenu svg {
    color: var(--white);
    font-size: 1.3rem;
}

.Menu div{
    position: absolute;
    top: 7rem !important;
}

.Menu ul li{
    font-size: 1.5rem;
}

.ProfilePicBox {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 4px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.ProfilePicBox img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}