.RegisterDonate {
    width: 100%;
    padding: 2rem;
}

.RegisterDonate h2 {
    width: 100%;
    text-align: center;
    color: var(--main-color);
}

.RegisterDonate form {
    max-width: 74rem;
    margin: 2rem auto;
    background-color: var(--light-grey-2);
    padding: 4rem;
    border-radius: .8rem;
    border: 1px solid #f4e3ff;
}

.RegisterDonate form button, a {
    margin: 1rem 0;
    width: 100%;
}

.RegisterDonate button {
    width: 17rem;
    margin-left: auto;
}


.imgsField {
    width: 100%;
}