@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 1.6rem;
}

input,button,textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

:root {
  --white: #ffffff;
  --main-color: #6a2cd8;
  --main-color-darker: #5622b3;
  --light-grey: #FAFAFC;
  --light-grey-2: #f5f5f5;
  --grey: #c4c4c4;
  --dark-grey: #828282;
  --color-background: #F9F6FD;
  --dark-title: #32264D;

  --color-button-whatsapp: #04D361;
  --color-button-whatsapp-darker: #05c059;
}